In [30]:
import numpy as np
import math
import matplotlib.pyplot as plt
from scipy.stats import norm
from pandas_datareader import data
import sys
import math

In [24]:
value=input("Enter the name of the stock")

Enter the name of the stockAAPL

In [26]:
#download Apple price data into DataFrame
apple = data.DataReader(value, 'yahoo',start='1/1/2017')

In [27]:
apple.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
2017-01-04,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2017-01-05,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
2017-01-06,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
2017-01-09,117.949997,119.430000,117.940002,118.989998,117.106812,33561900

In [28]:
# calculate cagr and mu
days = (apple.index[-1] - apple.index[0]).days
cagr = ((((apple['Adj Close'][-1]) / apple['Adj Close'][1])) ** (365.0/days)) - 1
print ('CAGR =',str(round(cagr,4)*100)+"%")
mu = cagr

CAGR = 53.28%

In [31]:
# calculating the volatality on the returns
apple['Returns'] = apple['Adj Close'].pct_change()
vol = apple['Returns'].std()*(252)**(1/2.0)
print ("Annual Volatility =",str(round(vol,4)*100)+"%")

Annual Volatility = 17.73%